skills/youtube-crypto-digest/n8n/youtube-digest-reply-pipeline.json
{
  "name": "YouTube Digest Reply -> mydefilife Article",
  "nodes": [
    {
      "id": "5c7f4b37-9f16-4035-bf21-4fb1eebc7596",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "simple",
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"YouTube Crypto Digest\"]]"
        }
      },
      "credentials": {
        "imap": {
          "id": "",
          "name": "SELECT_YOUR_MDL_MYDEFILIFE_IMAP_CREDENTIAL"
        }
      }
    },
    {
      "id": "65f3577a-5fa6-4fae-abd5-0a98e151e603",
      "name": "Parse Reply & Select Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const subject = $json.subject || '';\nconst isDigestSubject = /YouTube Crypto Digest/i.test(subject);\n\nif (!isDigestSubject) {\n  return { json: { isDigestReply: false, reason: 'subject did not match', subject } };\n}\n\n// Normalize line endings first -- CRLF (\\r\\n) is common in real email bodies, and a leftover trailing \\r breaks regex $ anchors and . matching (both treat \\r as a line terminator).\nconst text = ($json.textPlain || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\nconst lines = text.split('\\n');\n\nlet boundary = lines.length;\nfor (let i = 0; i < lines.length; i++) {\n  const l = lines[i].trim();\n  if (/^On .+wrote:$/.test(l) || l.startsWith('>')) {\n    boundary = i;\n    break;\n  }\n}\n\nconst replyBody = lines.slice(0, boundary).join('\\n').trim();\nconst quoted = lines.slice(boundary).map(l => l.replace(/^>\\s?/, '')).join('\\n');\n\nconst numMatch = replyBody.match(/\\b([1-5])\\b/);\nconst selectedNum = numMatch ? numMatch[1] : null;\n\nconst videoMap = {};\nconst qLines = quoted.split('\\n');\nfor (let i = 0; i < qLines.length; i++) {\n  const m = qLines[i].match(/^\\s*(\\d+)\\.\\s+(.+)$/);\n  if (m) {\n    const num = m[1];\n    const title = m[2].trim();\n    let url = null;\n    for (let j = i + 1; j < qLines.length && j < i + 3; j++) {\n      const urlMatch = qLines[j].match(/(https?:\\/\\/\\S+)/);\n      if (urlMatch) { url = urlMatch[1]; break; }\n    }\n    videoMap[num] = { title, url };\n  }\n}\n\nconst selected = selectedNum ? videoMap[selectedNum] : null;\n\nif (!selected || !selected.url) {\n  return {\n    json: {\n      isDigestReply: false,\n      reason: 'could not resolve a selected video from the reply',\n      selectedNumber: selectedNum,\n      videoMap,\n      replyBody,\n      rawTextPlain: text,\n    }\n  };\n}\n\nreturn {\n  json: {\n    isDigestReply: true,\n    selectedNumber: selectedNum,\n    selectedTitle: selected.title,\n    selectedUrl: selected.url,\n    videoMap,\n    replyBody,\n  }\n};"
      }
    },
    {
      "id": "0791b31f-fb02-4d26-891e-ef6490873df7",
      "name": "Is Valid Digest Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isDigestReply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c587fcc9-6552-49cc-b62f-3868a071930e",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.selectedUrl || '';\nconst patterns = [\n  /(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/|youtube\\.com\\/embed\\/|youtube\\.com\\/shorts\\/)([a-zA-Z0-9_-]{11})/\n];\nlet videoId = null;\nfor (const p of patterns) {\n  const m = url.match(p);\n  if (m) { videoId = m[1]; break; }\n}\n\nreturn {\n  json: {\n    ...$json,\n    videoId,\n    watchUrl: videoId ? ('https://www.youtube.com/watch?v=' + videoId) : null,\n  }\n};"
      }
    },
    {
      "id": "f9371f0a-25a0-43e2-a5b7-cc2c843ab8b8",
      "name": "Fetch YouTube Watch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.watchUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "60bbb035-aedc-4ae7-a30f-ffd3cb4705df",
      "name": "Extract Caption Track URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\nconst videoTitle = $('Parse Reply & Select Video').item.json.selectedTitle;\nconst videoUrl = $('Parse Reply & Select Video').item.json.selectedUrl;\n\nconst match = html.match(/\"captionTracks\":(\\[.*?\\])(?=,\")/) || html.match(/\"captionTracks\":(\\[.*?\\])/);\nif (!match) {\n  return { json: { transcriptAvailable: false, captionUrl: '', videoTitle, videoUrl } };\n}\n\nlet tracks;\ntry {\n  tracks = JSON.parse(match[1]);\n} catch (e) {\n  return { json: { transcriptAvailable: false, captionUrl: '', videoTitle, videoUrl } };\n}\n\nconst track = tracks.find(t => t.languageCode === 'en')\n  || tracks.find(t => (t.languageCode || '').startsWith('en'))\n  || tracks[0];\n\nif (!track || !track.baseUrl) {\n  return { json: { transcriptAvailable: false, captionUrl: '', videoTitle, videoUrl } };\n}\n\nconst captionUrl = track.baseUrl.replace(/\\\\u0026/g, '&');\nreturn { json: { transcriptAvailable: true, captionUrl, videoTitle, videoUrl } };"
      }
    },
    {
      "id": "f9dfb587-5c06-46b7-a98f-2c6dfeda1549",
      "name": "Fetch Transcript XML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.captionUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "ceebf04c-47bf-4865-8546-3e10ca129f66",
      "name": "Parse Transcript XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const xml = $json.data || '';\nconst prev = $('Extract Caption Track URL').item.json;\nconst videoTitle = prev.videoTitle;\nconst videoUrl = prev.videoUrl;\nconst transcriptAvailable = prev.transcriptAvailable;\n\nfunction decodeEntities(s) {\n  return s\n    .replace(/&amp;/g, '&')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>');\n}\n\nif (!transcriptAvailable || !xml || !xml.includes('<text')) {\n  return {\n    json: {\n      transcript: '(No auto-captions were available for this video. Article will be based on the title only -- expect a thin draft, review carefully.)',\n      videoTitle,\n      videoUrl,\n      hasTranscript: false,\n    }\n  };\n}\n\nconst matches = [...xml.matchAll(/<text[^>]*>([\\s\\S]*?)<\\/text>/g)];\nconst decoded = matches\n  .map(m => decodeEntities(m[1]))\n  .join(' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn {\n  json: {\n    transcript: (decoded || '(Transcript was empty after parsing.)').slice(0, 12000),\n    videoTitle,\n    videoUrl,\n    hasTranscript: decoded.length > 0,\n  }\n};"
      }
    },
    {
      "id": "89929494-e999-4f3f-ad7d-4c6b2087b6dd",
      "name": "Generate Article (Moonshot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.moonshot.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"kimi-k2.5\", \"temperature\": 1, \"max_tokens\": 4000, \"messages\": [{\"role\": \"user\", \"content\": \"Write a WordPress blog article for mydefilife.com based on this YouTube video transcript.\\n\\nVideo title: {{ $json.videoTitle }}\\n\\nTranscript:\\n{{ $json.transcript }}\\n\\nWrite a well-structured 800-1200 word article summarizing and analyzing the video's content for a DeFi/crypto audience. If the transcript says no captions were available, write a shorter piece based on the title alone and note in the content that it's a thin draft needing review. Use HTML paragraph tags in the content. Respond as JSON only, no markdown fences: {\\\"title\\\": \\\"...\\\", \\\"content\\\": \\\"<p>...</p><p>...</p>\\\"}\"}]}",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "SELECT_YOUR_MOONSHOT_HEADER_AUTH_CREDENTIAL"
        }
      }
    },
    {
      "id": "209bb9fc-7672-4e29-b735-3b0307a0993b",
      "name": "Parse Article JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.choices[0].message.content;\nlet parsed;\ntry {\n  const cleaned = raw.trim().replace(/^```json\\n?/, '').replace(/```$/, '');\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    title: 'Draft: ' + $('Parse Transcript XML').item.json.videoTitle,\n    content: raw,\n  };\n}\nreturn { json: parsed };"
      }
    },
    {
      "id": "17a4d911-be39-4dfd-9a7f-d825902a3410",
      "name": "Create WordPress Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mydefilife.com/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({title: $json.title, content: $json.content, status: 'draft'}) }}"
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "",
          "name": "SELECT_YOUR_WORDPRESS_APPLICATION_PASSWORD_CREDENTIAL"
        }
      }
    },
    {
      "id": "d33ff178-d4e2-4483-8031-7874d62dc222",
      "name": "Has Caption URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1400,
        220
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.captionUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9a10de6a-e47d-4a9e-8c6b-ac8d0aa366ca",
      "name": "Fetch Transcript (TranscriptAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "https://transcriptapi.com/api/v2/youtube/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "SELECT_YOUR_TRANSCRIPTAPI_HEADER_AUTH_CREDENTIAL"
        }
      }
    },
    {
      "id": "75ba69a8-264d-414d-863c-ec4cbbe3cd3c",
      "name": "Format TranscriptAPI Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $json;\nconst prev = $('Extract Caption Track URL').item.json;\nconst videoTitle = prev.videoTitle;\nconst videoUrl = prev.videoUrl;\n\nconst segments = resp && resp.transcript;\nif (!Array.isArray(segments) || segments.length === 0) {\n  return {\n    json: {\n      transcript: '(No auto-captions were available and the TranscriptAPI fallback found no transcript for this video -- likely a genuinely caption-less or private/removed video. Article will be based on the title only -- expect a thin draft, review carefully.)',\n      videoTitle,\n      videoUrl,\n      hasTranscript: false,\n    }\n  };\n}\n\nconst text = segments.map(s => s.text).join(' ').replace(/\\s+/g, ' ').trim();\n\nreturn {\n  json: {\n    transcript: (text || '(Transcript was empty after parsing.)').slice(0, 12000),\n    videoTitle,\n    videoUrl,\n    hasTranscript: text.length > 0,\n  }\n};"
      }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Parse Reply & Select Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply & Select Video": {
      "main": [
        [
          {
            "node": "Is Valid Digest Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Digest Reply?": {
      "main": [
        [
          {
            "node": "Extract Video ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Video ID": {
      "main": [
        [
          {
            "node": "Fetch YouTube Watch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YouTube Watch Page": {
      "main": [
        [
          {
            "node": "Extract Caption Track URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Caption Track URL": {
      "main": [
        [
          {
            "node": "Has Caption URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript XML": {
      "main": [
        [
          {
            "node": "Parse Transcript XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transcript XML": {
      "main": [
        [
          {
            "node": "Generate Article (Moonshot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article (Moonshot)": {
      "main": [
        [
          {
            "node": "Parse Article JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article JSON": {
      "main": [
        [
          {
            "node": "Create WordPress Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Caption URL?": {
      "main": [
        [
          {
            "node": "Fetch Transcript XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Transcript (TranscriptAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript (TranscriptAPI)": {
      "main": [
        [
          {
            "node": "Format TranscriptAPI Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format TranscriptAPI Transcript": {
      "main": [
        [
          {
            "node": "Generate Article (Moonshot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}